doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  block head
body
  nav#nav1.nav1
    img(src='symbol.png' width='250' height='38' alt='' loading='lazy')
    ul.nav-links
      li
        a(href='home_page') Home
      li
        a(href='buy') Buy
      li
        a(href='quote') Quote
      li
        a(href='logout') Log Out
    .burger
      .line1
      .line2
      .line3    
    script(src='script.js')
  block content

