doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(href='styles/login_page.css' rel='stylesheet')
img.bimage(src='styles/stock market graph.PNG')
.gradient
  form.form(action='login_page' method='post')
    label(for='Uname') UserName: 
    br
    input#Uname.login(name='username')
    br
    br
    label(for='Pword') Password: 
    br
    input#Pword.login(type='password' minlength='8' name='password')
    br    
    br
    label(for='confirmq') Which is your favourite fruit?
    br
    input#confirmq.login(name='confirmq')
    br
    br
    button.submit Submit
  a.ref(href='create_new_acc') Create New Account
  br
  br
  br
.bottom
  br
  p(style='font-size: 32px;') SSS Finanaces
  br
  p About Us
  p This project has been made by Srihari Seshank Shourya
  br
  br
  p
